<div class="jumbotron">
    <div class="container">
        {{> flash}}
        <h2>{{items.current_user}}'s Profile:</h2>
        {{#if_eq items.current_user username}}
            <h2>Create a new Project:
                <a href="/projects/create" class="btn btn-success">Create</a>
            </h2>
        {{/if_eq}}
        <h2>Current open Projects:</h2>
        <table class="table">
            <thead>
            <tr>
                <td>Project Name</td>
                <td>Project Description</td>
                <td>Date Created</td>
                {{#if_eq items.current_user username}}
                    <td>Edit project</td>
                    <td style="float:right">Delete project</td>
                {{/if_eq}}
            </tr>
            </thead>
            {{#each items.projects as |proj|}}
                <tbody>
                <tr>
                    <td><a href="/projects/{{proj._id}}">{{proj.name}}</a></td>
                    <td>{{proj.description}}</td>
                    <td>{{proj.date}}</td>
                    {{#if_eq ../items.current_user ../username}}
                        <td>
                            {{#ifIn ../username proj.upd_users}}
                                <form method="GET" action="/projects/{{proj._id}}/edit">
                                    <button type="submit" class="btn btn-default"> Edit Project</button>
                                </form>
                            {{/ifIn}}
                        </td>
                        <td>
                            {{#ifIn ../username proj.del_users}}
                                <form method="POST" action="/projects/{{proj._id}}?_method=DELETE"
                                      style="float:right">
                                    <button type="submit" class="btn btn-danger"> X</button>
                                </form>
                            {{else}}
                                <form method="POST" action="/projects/{{proj._id}}/leave?_method=DELETE"
                                      style="float:right">
                                    <button type="submit" class="btn btn-default"> Leave Project</button>
                                </form>
                            {{/ifIn}}
                        </td>
                    {{/if_eq}}
                </tr>
                </tbody>
            {{/each}}
        </table>
    </div>
</div>
<!--<div class="container">-->
<!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->

<!--</div>-->
<!--</div>-->
<!--<footer>-->
<!--<p>&copy; 2016 Company, Inc.</p>-->
<!--</footer>-->
<!--</div>-->
