<div class="jumbotron">
    <div class="container">
        {{> flash}}
        <h2>'s Profile</h2>
        <h2>Create a new Project:
            <a href="/{{username}}/create" class="btn btn-success">Create</a>
        </h2>
        <h2>Search for a specific Project:</h2>
        <form method="GET" action="/users/{{username}}/projects/search">
            <input type="text" name="name" placeholder="Search projects..">
            <button type="submit"  class="btn btn-success" >Search</button>
        </form>

        <h2>Current open Projects:</h2>
        <table class="table">
            <thead>
            <tr>
                <td>Project Name</td>
                <td>Project Description</td>
                <td style="float:right">Delete project</td>
            </tr>
            </thead>
            {{#each items as |result|}}
                <tbody>
                <tr>
                    <td><a href="/users/{{../username}}/projects/view/{{result._id}}">{{result.name}}</a></td>
                    <td>{{result.description}}</td>
                    <td>
                        <form method="POST" action="/users/{{../username}}/projects/{{result._id}}?_method=DELETE"
                              style="float:right">
                            <button type="submit" class="btn btn-danger"> X</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            {{/each}}
        </table>
    </div>
</div>
<!--<div class="container">-->
<!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--<div class="row">-->
<!--<div class="col-md-4">-->

<!--</div>-->
<!--</div>-->
<!--<footer>-->
<!--<p>&copy; 2016 Company, Inc.</p>-->
<!--</footer>-->
<!--</div>-->
